requests
scapy
manuf
ipaddress
requests
rich
pathlib
pyfiglet
gtts
pyttsx3
ifcfg

# VOICE LIBARIES // apt install ffmpeg
#pvporcupine 
vosk
sounddevice
samplerate



# LLM LIBARIES
#pandas
#numpy
#transformers
#onnxruntime
#optimum     # Requires at LEAST  8GB of storage
#"optimum[onnxruntime]" --upgrade


